<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../src/css/styles.css">

    <script src="../../dist/bundle.js"></script>
    <title>Connapp Web - Login</title>
  </head>
  <body ng-controller="sessionController as vm">
    <div class="jumbotron fixed">
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="col">
            <h1 class="title-main text-center">Acesso de usuário</h1>
          </div>
        </div>
        <form name="formLogin" class="mt-5" autocomplete="off" novalidate ng-submit="vm.authenticate( vm.auth )">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
              <div class="form-group">
                <label for="username">Email</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="email" name="email" id="username" class="form-control" ng-model="vm.auth.email" ng-required="true">
                </div>
                <ui-message for="formLogin.email" when="required" submitted="vm.formSubmitted">
                  Campo obrigatório
                </ui-message>
                <ui-message for="formLogin.email" when="email" submitted="vm.formSubmitted">
                  Email inválido
                </ui-message>
              </div>
            </div>
          </div>
  
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
                <div class="form-group">
                  <label for="password">Senha</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password" id="password" class="form-control" ng-model="vm.auth.password" ng-required="true">
                  </div>
                  <ui-message for="formLogin.password" when="required" submitted="vm.formSubmitted">
                    Campo obrigatório
                  </ui-message>
                </div>
              </div>
            </div>
  
            <div class="row mt-1">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
                <button type="submit" class="btn btn-block btn-primary">Entrar</button>
              </div>
            </div>
          </form>

          <ui-alert type="alert.type" message="alert.message"></ui-alert>

        <div class="row mt-3">
          <div class="col-12 col-sm-12 col-md-12">
            <footer class="text-center">
              <small>ConnApp &copy; Make with love by <a href="https://github.com/diego-leal" target="_blank">Diego Leal</a></small>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
