<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a ng-href="#!/">Inicio</a>
  </li>
  <li class="breadcrumb-item">
    <a ng-href="#!/user/list"> Lista de usuários</a>
  </li>
  <li class="breadcrumb-item">
      <a ng-href="#!/user/settings/{{vm.user._id}}">Configurações</a>
  </li>
  <li class="breadcrumb-item active">Redefinir Senha</li>
</ol>
<!-- ./breadcrumb -->

<div class="row mt-5">
  <div class="col-12 col-sm-4 col-md-3 col-lg-4">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="text-primary" ng-href="#!/user/settings/{{vm.user._id}}">Dados</a></li>
        <li class="list-group-item"><a class="text-primary" ng-href="#!/user/settings/{{vm.user._id}}/reset">Redefinir senha</a></li>
        <!-- <li class="list-group-item"></li> -->
        <!-- <button class="btn btn-danger btn-block">Desativar</button> -->
      </ul>
    </div>
  </div>

  <div class="col-12 col-sm-8 col-md-6 col-lg-6 mt-4 mt-sm-0 mt-md-0 mt-lg-0">
    <form name="resetPassword" novalidate autocomplete="off" ng-submit="vm.submitChanges( vm.user )">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="********" ng-model="vm.user.password" ng-required="true" ng-pattern="/\w{8}/">
            <ui-message for="resetPassword.password" when="pattern">
              Senha muito curta.
            </ui-message>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="confirmPassword">Confirme a senha</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="********" ng-model="vm.user.confirmPassword" ng-required="true">
            <ui-message for="resetPassword.confirmPassword" when="isEqual">
              As senhas não são iguais.
            </ui-message>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-6 ml-auto mr-auto">
          <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
        </div>
      </div>
    </form>
  </div>
</div>