<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a ng-href="#!/">Inicio</a>
  </li>
  <li class="breadcrumb-item active" ng-bind="::vm.breadcrumb"></li>
</ol>
<!-- ./breadcrumb -->

<!-- spinner -->
<div class="spinner-container" ng-show="loading">
  <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
</div>
<!-- ./spinner -->

<!-- form -->
<div id="news-form" ng-show="!loading">
  <form name="newsForm" novalidate autocomplete="off" ng-submit="vm.submitForm( vm.news )">
    <div flow-init flow-name="vm.flow" flow-file-added="vm.convertImageFile( $file )">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 ml-auto mr-auto">
          <div class="img-container">
            <figure ng-hide="$flow.files.length || vm.news.cover" class="figure">
              <img class="figure-img img-fluid rounded" ng-src="./src/media/no-image.png" alt="Capa da notícia" width="100%">
              <figcaption class="figure-caption text-right">Carregue um capa 480x250</figcaption>
            </figure> 
            <figure ng-show="$flow.files.length || vm.news.cover" class="figure">
              <img class="figure-img img-fluid rounded" ng-src="{{vm.news.cover}}" alt="Capa da notícia" width="100%">
              <figcaption class="figure-caption text-right">Carregue um capa 480x250</figcaption>
            </figure> 
          </div>
        </div>
      </div>
    
      <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 ml-auto mr-auto">
          <button ng-hide="$flow.files.length || vm.news.cover" type="button" class="btn btn-success btn-block" flow-btn flow-attrs="{accept:'image/*'}">
            <i class="fa fa-plus fa-fw"></i>Adicionar
          </button>
  
          <button ng-show="$flow.files.length || vm.news.cover" type="button" class="btn btn-danger btn-block" ng-click="$flow.cancel(); vm.cleanImageModel();">
            <i class="fa fa-times fa-fw"></i>Remover
          </button>
  
          <div class="text-center" ng-show="newsForm.$error.validSize">
            <small class="text-danger">A imagem não pode ser maior que 2MB</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 ml-auto mr-auto">
        <div class="form-group">
          <label for="title">Titulo</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Coffee free!" ng-model="vm.news.title" ng-required="true">
          <ui-message for="newsForm.title" when="required" submitted="newsForm.$submitted">
            Campo obrigatório
          </ui-message>
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-12 col-sm-12 col-md-10 col-lg-3 ml-auto mr-auto ml-lg-auto mr-lg-0">
        <button class="btn btn-sm btn-primary btn-block" type="button" ng-click="vm.previewNews( vm.news.message )"><i class="fa fa-search"></i> Visualizar</button>
      </div>
      <div class="col-lg-3"></div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 ml-auto mr-auto">
        <!-- preview markdown content -->
        <div class="markdown-preview mt-4" ng-bind-html="vm.news.preview" ng-show="vm.previewMode"></div>
        <div class="form-group">
          <!-- markdown editor -->
          <wiz-markdown-editor textareaclass="form-control mt-1" rows="10" content="vm.news.message" ng-show="!vm.previewMode">
            <div class="btn-group" role="group" aria-label="Basic example">
              <wiz-toolbar-button buttonclass="btn btn-sm btn-light" command="bold" title="negrito"><i class="fa fa-bold"></i></wiz-toolbar-button>
              <wiz-toolbar-button buttonclass="btn btn-sm btn-light" command="italic" title="italico"><i class="fa fa-italic"></i></wiz-toolbar-button>
              <div class="btn-group" role="group">
                <button id="hgroup" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="titulos">
                  <i class="fa fa-header"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="hgroup">
                  <wiz-toolbar-button buttonclass="dropdown-item" command="h1">H1</wiz-toolbar-button>
                  <wiz-toolbar-button buttonclass="dropdown-item" command="h2">H2</wiz-toolbar-button>
                  <wiz-toolbar-button buttonclass="dropdown-item" command="h3">H3</wiz-toolbar-button>
                  <wiz-toolbar-button buttonclass="dropdown-item" command="h4">H4</wiz-toolbar-button>
                  <wiz-toolbar-button buttonclass="dropdown-item" command="h5">H5</wiz-toolbar-button>
                  <wiz-toolbar-button buttonclass="dropdown-item" command="h6">H6</wiz-toolbar-button>
                </div>
              </div>
              <wiz-toolbar-button buttonclass="btn btn-sm btn-light" command="ullist" title="lista não númerada"><i class="fa fa-list-ul"></i></wiz-toolbar-button>
              <wiz-toolbar-button buttonclass="btn btn-sm btn-light" command="ollist" title="lista númerada"><i class="fa fa-list-ol"></i></wiz-toolbar-button>
              <wiz-toolbar-button buttonclass="btn btn-sm btn-light" command="code" title="código"><i class="fa fa-code"></i></wiz-toolbar-button>
              <wiz-toolbar-button buttonclass="btn btn-sm btn-light" command="img" title="imagem"><i class="fa fa-picture-o"></i></wiz-toolbar-button>
              <wiz-toolbar-button buttonclass="btn btn-sm btn-light" command="link" title="link"><i class="fa fa-link"></i></wiz-toolbar-button>
            </div>
          </wiz-markdown-editor>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 col-lg-5 ml-auto mr-auto">
        <button type="submit" name="send" class="margin-xs-top btn btn-primary btn-block pull-right">Publicar</button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 ml-auto mr-auto">
        <ui-alert message="vm.alert.message" type="vm.alert.type"></ui-alert>
      </div>
    </div>

  </form>
  <!-- ./form -->
</div>