<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a ng-href="#!/">Inicio</a>
  </li>
  <li class="breadcrumb-item active">Lista de notícias</li>
</ol>
<!-- ./breadcrumb -->

<!-- options-field -->
<div class="row mt-4">
  <div class="col-6 col-sm-6 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="orderBy">Ordenar por:</label>
      <select name="order" id="orderBy" class="form-control" ng-model="vm.orderBy">
        <option value="title" selected>Título</option>
        <option value="createAt">Criado em</option>
      </select>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-4 col-lg-4 ml-md-auto">
    <div class="form-group">
      <label for="filter">Pesquisa</label>
      <input type="text" name="search" id="search" class="form-control" placeholder="Filtro" ng-model="vm.search">
    </div>
  </div>
</div>
<!-- ./options-field -->
  
<!-- news-card -->
<div class="row mt-2">
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-2" ng-repeat="news in vm.newsFeed | filter: vm.search | orderBy: vm.orderBy track by news._id">
    <div class="card">
      <img class="card-img-top" ng-src="{{news.cover}}" ng-show="news.cover" alt="título da notícia" style="height: 260px">
      <img class="card-img-top" src="./src/media/no-thumbnail.png" ng-hide="news.cover" alt="título da notícia" style="height: 260px">
      <div class="card-body">
        <a class="card-title title-main" ng-href="javascript:" data-target="#newsContent" data-toggle="modal" ng-click="vm.setNews( news )">{{news.title}}</a>
        <p class="card-text"><small class="text-muted">Criado em: {{news.createAt | date: 'dd/MM/yyyy HH:mm'}}</small></p>
      </div>
    </div>
  </div>
</div>
<!-- ./news-card -->
<!-- news preview -->
<div class="modal fade" id="newsContent" tabindex="-1" role="dialog" aria-labelledby="contentLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid">
          <div class="row pull-right">
            <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-danger ml-1" href="#"><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h1 class="title-main text-center">{{vm.news.title}}</h1>
        <div class="markdown-preview mt-1">
          <div ng-bind-html="vm.news.content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./ news preview -->