<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a ng-href="#!/">Inicio</a>
  </li>
  <li class="breadcrumb-item">
    <a ng-href="#!/news/list">Lista de notícias</a>
  </li>
  <li class="breadcrumb-item active">Visualização</li>
</ol>
<!-- ./breadcrumb -->

<!-- spinner -->
<div class="spinner-container" ng-show="loading">
  <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
</div>
<!-- ./spinner -->

<!-- news preview -->
<div class="row">
  <div class="col">
    <div class="btn-group mb-4 mt-1 pull-right">
      <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
      <button type="button" class="btn btn-danger ml-1" data-target="#confirmAction" data-toggle="modal"><i class="fa fa-trash-o"></i></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" style="background-color: #f1f1f1;">
    <img ng-hide="vm.news.cover" ng-src="./src/media/no-thumbnail.png" alt="{{vm.news.title}}" class="img-fluid news-img">
    <img ng-show="vm.news.cover" ng-src="{{vm.news.cover}}" alt="{{vm.news.title}}" class="img-fluid news-img">
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <h1 class="text-muted text-center">{{vm.news.title}}</h1>
  </div>
</div>
<div class="row mt-1">
  <div class="col">
    <div class="markdown-preview mt-5" style="border: none;">
      <div ng-bind-html="vm.news.content"></div>
    </div>
  </div>
</div>
<!-- ./ news preview -->


<!-- delete confirm -->
<div class="modal fade" id="confirmAction" tabindex="-3" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col">
          <h1 class="modal-title text-danger text-center" id="confirmLabel">ATENÇÃO!</h1>
        </div>
      </div>
      <div class="modal-body">
        <p>Você deseja realmente apagar essa notícia?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.deleteNews()">Confirmar</button>
      </div>
    </div>
  </div>
</div>