.fixed {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.title-main {
  color: gray;
  font-size: 2em;
}

/**
* @medias
*/

/* SMARTPHONES */
@media( max-width: 562px ) {

}
/* TABLETS */
@media( min-width: 768px ) and ( max-width: 1024 ) {

}
