.fixed {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}
.title-main {
  color: gray;
  font-size: 1.5em;
}

.card-img {
  max-height: 200px;
}

/* Formatação do conteúdo do markdown */
.markdown-preview {
  min-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border: 1px solid #ddd;
  text-align: justify;
}

.markdown-preview img {
  width: 100%;
}

/**
* @medias
*/

/* SMARTPHONES */
@media( max-width: 562px ) {

}
/* TABLETS */
@media( min-width: 768px ) and ( max-width: 1024 ) {

}

@media ( min-width: 1024 ) {
  .preview-button {
    margin-left: 200px;
  }
}